@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");
.nav__menu {
  display: flex;
  align-items: center;
  column-gap: 2.8rem;
  margin-bottom: 2.8rem;
  font-family: "Nanum Myeongjo", serif;
}

.nav__menu a {
  color: #80786b;
  font-weight: 500;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
}
.nav__menu a:hover {
  color: #ea7b97;
}

.nav__menu a:first-child {
  color: #80786b;
}

.footer__creator h6 {
  text-align: right;
  font-weight: 400;
  color: #80786b;
  font-family: "Nanum Myeongjo", serif;
}
.footer__copyright {
  border-top: 1px solid #80786b;
  font-family: "Nanum Myeongjo", serif;
}

.footer__copyright p {
  font-size: 0.8rem;
  text-align: center;
  padding-top: 20px;
}
