@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
  scroll-behavior: smooth;
}

a {
  color: unset;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  background: #f8f0e3;
}
p {
  color: #00000;
  line-height: 30px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #00000;
}

h2 {
  font-size: 2.5rem !important;
}
section {
  padding-top: 150px;
}

footer {
  padding-bottom: 20px;
  padding-top: 60px;
  border-top: 1px solid #171f38;
}
.primary_btn {
  background: #bcd1c9 !important;
  padding: 7px 25px !important;
  border: 1px solid #d0c8bb !important;
  border-radius: 5px;
}
.primary_btn a {
  text-decoration: none;
  color: #6b7380;
  background: transparent !important;
}
.secondary__btn {
  background: transparent;
  border: none;
  outline: none;
  padding: 7px 15px;
}

.secondary__btn a {
  color: #6b7380 !important;
}
.primary__btn a:hover,
.secondary__btn a:hover {
  color: #00000;
}
