.hero {
  padding-top: 60px !important;
}
.hero__content h5 {
  color: #c0c0c0;
  font-weight: 400;
}

.hero__content {
  padding-top: 50px;
}

.hero__img {
  position: relative;
  z-index: 9;
  /* border-radius: 25rem 31.25rem; */
}

.hero__img img {
  border-radius: 50px 5px 5px 5px;
}
/* remove experience and skills point */

@media only screen and (max-width: 992px) {
  .hero__content h2 {
    font-size: 1.5rem !important;
  }

  .hero__content h5 {
    font-size: 1.1rem !important;
  }

  .hero__img img {
    width: 250px !important;
    height: 250px !important;
  }

  .hero__content {
    padding-top: 0;
  }
}

@media only screen and (max-width: 768px) {
  .hero__img {
    text-align: center !important;
    margin-top: 50px;
  }
}

@media only screen and (max-width: 576px) {
}
