.portfolio__item {
  background: #171f38;
  padding: 0px 20px 20px 20px;
  padding-top: 30px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.portfolio__item h6 {
  color: #fce9ee;
  margin-bottom: 20px;
  background: transparent;
}

.portfolio__img {
  margin-top: 30px;

  background: transparent;
}

.portfolio__img img {
  border-radius: 10px;
}

.portfolio__keyword {
  padding: 5px 10px;
  color: #fff;
  background: #808dad68;
  font-size: 0.7rem;
  margin-right: 10px;
  border-radius: 5px;
}

.portfolio__item:hover .portfolio__live {
  margin-left: 0;
  display: block;
}
/* ----button--- */
.portfolio__live {
  margin-left: -100px;
  margin-top: 30px;
  display: none;
  text-align: center;
}

.portfolio__live button {
  width: 170px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  /* /color */
  background-image: linear-gradient(
    to right,
    #ed6ea0,
    #ec8c69,
    #f7186a,
    #fbb03b
  );
  box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}
.portfolio__live button:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.portfolio__live button:focus {
  outline: none;
}
.portfolio__live button a {
  font-size: 17px;
  color: #ffff;
  background-color: #0000;
  text-decoration: none;
}

@media only screen and (max-width: 576px) {
  .portfolio__img img {
    width: 100% !important;
  }
}

@media only screen and (max-width: 480px) {
  .portfolio__img img {
    width: 70% !important;
  }
}
