.section__subtitle {
  color: #ea7b97 !important;
  font-weight: 600;
}

.section__subtitle::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -44px;
  width: 30px;
  height: 1px;
  background: #ea7b97;
  color: #ea7b97;
}
